eg
eg/*
Dancer-Plugin-JSON-Schema-*
Dancer-Plugin-JSON-Schema-*/*
log/*
logs/
t/logs/*
t/logs/
.build
*.bak
*~
*.old
Makefile
blib/
pm_to_blib
Build
_build
cover_db/
nytprof*
*.patch
.DS_Store
MYMETA.*
*.o
*.bs
.DocumentRevisions-*
.TemporaryItems
.Trashes
.fseventsd
